@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Lovers+Quarrel&family=Pacifico&family=Rubik+Iso&family=Zeyada&display=swap');

body {
    background-color: rgb(29, 66, 62);

}

ul {
    display: flex;
    list-style: none;
}

a {
    color: rgb(255, 255, 255);
}

li {
    padding-left: 3.2552083333333335vw;
    padding-right: 3.2552083333333335vw;
}

.icon {
    padding-left: 3.2552083333333335vw;
    padding-right: 3.2552083333333335vw;
}

.barra {
    display: flex;
    background-color: black;
    height: 7.112375533428165vh;
    font-style: none;
    justify-content: center;
    align-items: center;

}

a:hover {
    text-decoration: none;
}
img {

    height: 60vh;
    
    width: 100%;
    
    }



iframe {
    width: 32.552083333333336vw;
    height: 42.67425320056899vh;
}

section {
    color: rgb(255, 255, 255);
}

.iconos {
    display: flex;
    padding-right: 1.3020833333333333vw;
}

button {
    background-color: black;
    border: none;
    color: white;
}

input {
    height: 2.844950213371266vh;
    width: 13.020833333333334vw;
}

main {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.inicio {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    padding-left: 1.3020833333333333vw;

}

.arriba {
    margin-left: 0px;
}

form {
    padding-left: 40%;
    color: rgb(255, 255, 255);
    padding-top: 7.112375533428165vh;
    padding-bottom: 7.112375533428165vh;
    justify-content: center;
    font-size: xx-large;
}

.inicio {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(43, 97, 91);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 175;
    padding: 1.3020833333333333vw;
    width: 13.020833333333334vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0.3255208333333333vw;
}

.inicio span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.inicio span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1.3020833333333333vw;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

.inicio:hover span {
    padding-right: 1.3020833333333333vw;
}

.inicio:hover span:after {
    opacity: 3;
    right: 0;
}

input {
    background-color: rgb(255, 255, 255);
    size: 1.3020833333333333vw;
}

.correo {
    padding-top: 5.689900426742532vh;
}

.condiciones {
    padding-top: 5.689900426742532vh;
}

button {
    background-color: rgb(46, 105, 99);
    color: white;
    font-size: x-large;
}


.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #58de2b;
    border-radius: 50px;
    border: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.button:hover {
    background-color: #3c8637;
    transform: scale(1.05);
}

.button:active {
    background-color: #ff9f43;
    box-shadow: 5px;
    transform: scale(0.95);
}

.input-label {
    display: block;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.input-field {
    display: block;
    padding: 10px;
    font-size: 16px;
    color: #000000;
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease-in-out;
}

.input-field:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

footer {

    bottom: 0;
    height: 28.44vh;
    width: 98.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    background-color: rgb(0, 0, 0);
}

.texto-footer-padre {
    display: flex;
    flex-direction: column;

}

.texto {
    color: rgb(255, 255, 255);
    font-family: Arial;
}

iframe {
    width: 400px;
    height: 200px;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icono {
    color: white;
}

.caja {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 80%;
    border: 1px solid black;
    margin: 5px;
    background-color: rgb(162, 50, 31);
    

}

.container {
    background-color: rgb(68, 36, 36);
    width: 40vw;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    

}

.main-productos {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Parte para hacer el carrusel */
.slide {

    position: relative;

    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);

    margin-top: 26px;

}

.slide-inner {

    position: relative;

    overflow: hidden;

    width: 100%;

    height: calc(620px + 3em);

}



.slide-open:checked+.slide-item {

    position: static;

    opacity: 100;

}



.slide-item {

    position: absolute;

    opacity: 0;

    -webkit-transition: opacity 0.6s ease-out;

    transition: opacity 0.6s ease-out;

}



.slide-item img {

    display: block;

    height: auto;

    max-width: 100%;

}



.slide-control {

    background: rgba(0, 0, 0, 0.28);

    border-radius: 50%;

    color: #fff;

    cursor: pointer;

    display: none;

    font-size: 40px;

    height: 40px;

    line-height: 35px;

    position: absolute;

    top: 50%;

    -webkit-transform: translate(0, -50%);

    cursor: pointer;

    -ms-transform: translate(0, -50%);

    transform: translate(0, -50%);

    text-align: center;

    width: 40px;

    z-index: 10;

}



.slide-control.prev {

    left: 2%;

}



.slide-control.next {

    right: 2%;

}



.slide-control:hover {

    background: rgba(0, 0, 0, 0.8);

    color: #aaaaaa;

}



#slide-1:checked~.control-1,

#slide-2:checked~.control-2,

#slide-3:checked~.control-3 {

    display: block;

}



.slide-indicador {

    list-style: none;

    margin: 0;

    padding: 0;

    position: absolute;

    bottom: 2%;

    left: 0;

    right: 0;

    text-align: center;

    z-index: 10;

}



.slide-indicador li {

    display: inline-block;

    margin: 0 5px;

}



.slide-circulo {

    color: #828282;

    cursor: pointer;

    display: block;

    font-size: 35px;

}



.slide-circulo:hover {

    color: #aaaaaa;

}



#slide-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,

#slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,

#slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo {

    color: #428bca;

}

/* CSS  de SESSION */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  
  .card i {
    font-size: 48px;
    margin-bottom: 10px;
  }

/* Parte para hacer barrita del perfil */
.navbar {
    background-color: #000000;
    color: #fff;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .navbar-brand a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .username {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    right: 0;
    top: 100%;
  }
  
  .dropdown-menu a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px 16px;
  }
  
  .dropdown-menu a i {
    margin-right: 8px;
  }
  
  .user-profile:hover .dropdown-menu {
    display: block;
  }

/* Botones de inicio de sesion y register */
.Iboton, .Rboton {
    background-color:rgb(29, 66, 62);
    border: 3px solid rgb(36, 36, 36);
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    perspective: 800px;
    transition: transform 1.5s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

  }
  
  .Iboton:hover, .Rboton:hover {
    transform: rotateX(360deg);
  }
.sesion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;  
    background-image: url('https://23basketball.net/img/tmp/category_11.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* LOGO */
.logo {
    font-family:monospace;
  }

a:hover {
    text-decoration: none;
}

.valid{
    color:green;
    font-size: xx-large;
}

.invalid{
    color:red;
    font-size: xx-large;
}

.tabla-cesta {
    background-color: #ffbc1fec;
    height: 99%;
    width: 100%;
}

/*.form-productos {
    padding-right: 99%;
    
}*/
.texto-cards {
    justify-self: left;
    justify-content: left;
    justify-items: left;
}

.sub-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: x-large;
}

td {
    text-align: center;

}

.precio-total {
    color: white;
    background-color: rgb(29, 66, 62);
    height: fit-content;
    width: fit-content;
    padding-left: 94%;
    border-top: 1px solid black;

}

.boton-eliminar {
    color: #ff0000;
}

.imagen-cesta {
    height: 25%;
    width: 45%;
    border: 1px solid black;
}

.celda-imagen {
    width: 15%;
}
.main-productos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
}
.container {
    background-color: rgb(68, 36, 36);
    width: 40vw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    border: 2px solid black;
    margin: 2%;
    padding-top: 1%;
}
.img-card {
    height: 80%;
    width: 60%;
}
.boton-cesta:hover {
    color: lightblue;
}
.boton-cesta {
    background-color: rgba(238, 180, 21, 0.93);
    border-color: #000000;
    border-radius: 3px;
    color: white;
    text-shadow: #000000;
    padding: 20%;


}
.caja {
    /* FLEX DE PRODUCTOS */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 80%;
    border: 1px solid black;
    margin: 5px;
    background-color: rgb(162, 50, 31);
    font-family: 'Courier New', monospace;
    color: white;

}