body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1546519638-68e109498ffc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

form input[type="text"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5cca2a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #45a049;
}
